.font-bebass {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-roboto {
  font-family: "roboto", sans-serif;
}

.bg-verde {
  background-color: #00ff00;
}

.text-verde {
  color: #00ff00;
}

.hover-bg-verde:hover {
  background-color: #00ff00;
}

.hover-text-verde:hover {
  color: #00ff00;
}

.hover-text-verde-nav:hover {
  color: #00ff00;
}

.hover-text-verde {
  color: white
}