:root {
  --aiex-yellow: #F1EC41;
  --aiex-grey: #F2F4F4;
  --aiex-white: #FFFFFF;
  --aiex-dark: #030606;
}

.App {
  width: 100%;
  height: 100vh;
}

.imgPreview {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}